.h1{
    font-weight: bold;
    color: white;
}
.ble{
    font-family: 'gill sans',sans-serif;
    color:greenyellow;
    text-align: center;
}
 .body  { background-color: darkslateblue;
    text-align:center;

}
